# ignore these files in git
*.png
Figures/*.csv
*.sublime-project
*.sublime-workspace
monte_carlo_points.csv
out.csv
rosenbluth_separation_plot.py
monte_carlo_ratio_errors.py
Figures/*.docx
!Figures/Form_Factors/*.png
!SuperRosenbluth/Figures/*.png
*.docx
